{{#each this}}
<li>
    <h1></h1>
    <h2>Capital: </h2>
    <h2>`Population: `</h2>
    <ul>
        {{!-- {{#each this.language}}
        <li>{{language}}</li>
        {{/each}} --}}
    </ul>
    <img src={{urlToImage}} alt="" width="320">
</li>
{{/each}}